<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	
	<custom>
		<groups>
			<group name="TestGroup1">
				<values>
					<value key="Test2" value="601" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
				</values>
			</group>
		</groups>
	</custom>
	
</configuration>