obj/
Obj/
bin/
Bin/
bld/
Bld/
_ReSharper.*
*.user
*.resharper
*.suo
*.cache
StyleCop.Cache
packages
TestResults
FakesAssemblies
WinAppPackages
*.opensdf
*.sdf
Thumbs.db
*.exe
source/Examples/*/d.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
