obj/
Obj/
bin/
Bin/
bld/
Bld/
_ReSharper.*
*.user
*.resharper
*.suo
*.cache
StyleCop.Cache
packages
TestResults
FakesAssemblies
WinAppPackages
*.opensdf
*.sdf
Thumbs.db
*.exe
source/Examples/*/d.config